Options -Indexes

<IfModule php5_module>
# prod environment, no debugging
php_value display_errors 0
php_value display_startup_errors 0
php_value error_reporting 999999999
php_value log_errors 1
php_value session.cookie_httponly true
</IfModule>
